.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px 15px 70px;
}

.header__button {
  height: 38px;
}

.header-main {
  padding: 18px 70px 18px 70px;
  background-color: #073042;
}

.header__logo {
  height: 38px;
  width: 38px;
  cursor: pointer;
  transition: opacity .1s ease-out;
  margin-right: 62px;
}

.header__logo:hover {
  opacity: 70%;
}

@media screen and (max-width: 910px) {
  .header {
    padding: 18px 30px 17px 30px;
  }
}

@media screen and (max-width: 520px) {
  .header {
    padding: 18px 14px 14px 14px;
  }
}