{
  "env": {
    "es2021": true,
    "browser": true
  },
  "extends": ["airbnb", "airbnb/hooks"],
  "overrides": [
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "no-underscore-dangle": "off",
    "linebreak-style": "off",
    "react/prop-types": "off",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-props-no-spreading": "off"
  }
}
