.profile {
  padding: 74px 0 70px 0;
  display: flex;
  flex-direction: column;
  max-width: 410px;
  margin: 0 auto;
}

.profile__greet {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  padding-bottom: 123px;
}

.profile__info {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  line-height: 14px;
  transition: display .1s ease-out;
  cursor: text;

}

.profile__label:focus-within {
  gap: 10px;
  flex-direction: column;
}

.profile__input {
  border: 2px solid #202020;
  box-sizing: border-box;
  background: none;
  font-size: 11px;
  line-height: 14px;
  color: #ffffff;
  transition: all .1s ease-out;
  text-align: right;
  border-radius: 16px;
  padding: 0;
  width: 80%;
}

.profile__label:focus-within .profile__input {
  outline: none;
  text-align: left;
  border-color: #424242;
  font-size: 13px;
  line-height: 18px;
  padding: 12px;
  width: 100%;
}

.profile__input-error {
  font-size: 11px;
  color: #EE3465;
  display: block;
  margin-top: 15px;
  text-align: end;
}

.profile__stroke {
  border: solid 1px #424242;
  width: 100%;
  margin: 17px 0 16px 0;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 220px;
}

.profile__button {
  color: #ffffff;
  font-size: 13px;
  line-height: 16px;
}

.profile__button:hover {
  opacity: 70%;
}

.profile__button:disabled {
  color: #8B8B8B;
  opacity: 100%;
  cursor: default;
}

.profile__button_exit {
  color: #EE3465;
}

@media screen and (max-width: 768px){
  .profile {
    padding: 231px 0 30px 0;
  }
  .profile__greet {
    padding-bottom: 96px;
  }
  .profile__buttons {
    padding-top: 210px;
  }
}

@media screen and (max-width: 500px){
  .profile {
    padding: 68px 30px 40px 30px;
  }
  .profile__greet {
    padding-bottom: 80px;
  }
  .profile__buttons {
    padding-top: 379px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}