.main-header {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  background-color: #073042;
}

.main-header__logo {
  height: 38px;
  width: 38px;
  padding-top: 18px;
}

.unauthorized__navs {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 21px;
  height: 32px;
}

.main-header__link {
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
}

.unauthorized__button {
  border: none;
  width: 76px;
  height: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 3px;
  padding: 0 10px;
  background-color: #3DDC84;
}

.unauthorized__button:hover {
  opacity: 75%;
}

@media screen and (max-width: 928px)  {
  .main-header {
    padding: 0 30px;
  }

  .main-header__logo {
    width: 38px;
    height: 38px;
  }
}

@media screen and (max-width: 480px)  {
  .main-header {
    padding: 0 14px;
  }

  .unauthorized__navs {
    gap: 14px;
  }

  .main-header__link {
    font-size: 10px;
    line-height: 16px;
  }

  .unauthorized__button {
    height: 26px;
    width: 54px;
    font-size: 10px;
    line-height: 16px;
  }
}