.movies-cards {
  padding: 70px 10px 80px 10px;
}

.movies-cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 364px);
  justify-content: center;
  gap: 37px 24px;
}

.button-panel {
  padding: 60px 60px 0 60px;
}

.button-panel__button {
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  background: #2F2F2F;
  border: none;
  height: 36px;
  width: 100%;
  border-radius: 6px;
}

.button-panel__button:hover {
  background-color: rgba(0, 0, 0, 15%);
}


/*МЕДИА ЗАПРОСЫ*/
/*В 3 ряда*/

@media screen and (max-width: 1180px) {
  .movies-cards__list {
    grid-template-columns: repeat(auto-fit, 304px);
    gap: 20px
  }
}

@media screen and (max-width: 992px) {
  .movies-cards__list {
    grid-template-columns: repeat(auto-fit, 264px);
  }
}

@media screen and (max-width: 910px) {
  .button-panel {
    padding: 60px 20px 0 20px;
  }
}

@media screen and (max-width: 871px) {
  .movies-cards__list {
    grid-template-columns: repeat(auto-fit, 238px);
    gap: 15px
  }
}

@media screen and (max-width: 781px) {
  .movies-cards__list {
    grid-template-columns: repeat(auto-fit, 218px);
  }
}

/*В 2 ряда*/
@media screen and (max-width: 768px) {
  .movies-cards {
    padding: 70px 10px 80px 10px;
  }

  .movies-cards__list {
    grid-template-columns: repeat(auto-fit, 339px);
    gap: 30px
  }

  .button-panel {
    padding-top: 80px;
  }
}

@media screen and (max-width: 745px) {
  .movies-cards__list {
    grid-template-columns: repeat(auto-fit, 268px);
    gap: 20px
  }
}

@media screen and (max-width: 620px) {
  .movies-cards__list {
    grid-template-columns: repeat(auto-fit, 248px);
    gap: 15px
  }
}

@media screen and (max-width: 560px) {
  .movies-cards__list {
    grid-template-columns: repeat(auto-fit, 235px);
    gap: 10px
  }
}

@media screen and (max-width: 520px) {
  .movies-cards__list {
    grid-template-columns: repeat(auto-fit, 220px);
  }
}

@media screen and (max-width: 500px) {
  .movies-cards__list {
    grid-template-columns: repeat(auto-fit, 200px);
  }
}

/*В 1 ряда*/
@media screen and (max-width: 480px){
  .movies-cards {
    padding: 40px 10px 80px 10px;
  }

  .button-panel {
    padding: 76px 0 0 0;
  }

  .movies-cards__list {
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 14px
  }
}
