.about-project {
  padding: 110px 70px 111px 70px;
}

.about-project__title {
  margin: 0;
  font-size: 22px;
  letter-spacing: -1px;
  line-height: 27px;
}

.about-project__stroke {
  border: solid 1px #DADADA;
  margin: 23px 0 70px 0;
}

.about-project__info {
  display: flex;
  justify-content: space-between;
  gap: 10px
}

.about-project__list {
  margin: 0;
  padding: 0;
  max-width: 550px;
  letter-spacing: -.8px;
  font-size: 20px;
  line-height: 24px;
}

.about-project__list-element {
  margin-top: 26px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  letter-spacing: 0;
}

.about-project__progress {
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: center;
  color: #ffffff;
  margin-top: 110px;
  font-size: 14px;
}

.about-project__line {
  height: 36px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__line_short {
  background-color: #3DDC84;
  color: #000000;
}

.about-project__line_large {
  background-color: #303030;
}

.about-project__caption {
  color: #8B8B8B;
  line-height: 17px;
  margin: 14px 0 0 0;
}

@media screen and (max-width: 928px) {
  .about-project {
    padding: 90px 50px 90px 50px;
  }

  .about-project__info {
    gap: 30px;
  }

  .about-project__list {
    max-width: 319px;
  }

  .about-project__list-element {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__progress {
    margin-top: 93px;
  }
}

@media screen and (max-width: 600px) {
  .about-project__info {
    flex-direction: column;
    gap: 56px;
  }

  .about-project__list {
    max-width: fit-content;
  }

  .about-project__progress {
    margin-top: 60px;
    font-size: 11px;
    grid-template-columns: 1.8fr 3.2fr;
  }
}

@media screen and (max-width: 480px) {
  .about-project {
    padding: 70px 18px 70px 18px;
  }

  .about-project__title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -.8px;
  }

  .about-project__stroke {
    margin: 28px 0 60px 0;
  }

  .about-project__list {
    font-size: 18px;
    line-height: 22px;
    /*max-width: 284px;*/
  }

  .about-project__list-element {
    margin-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__line {
    height: 35px;
  }

  .about-project__caption {
    margin-top: 10px;
    line-height: 13px;
  }
}