.auth-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px 0 40px 0;
  gap: 40px;
}

.auth-header__logo {
  height: 38px;
  width: 38px;
  transition: opacity .1s ease-out;
}

.auth-header__logo:hover {
  opacity: 70%;
}

.auth-header__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}


@media screen and (max-width: 768px) {
  .auth-header {
    padding-top: 232px;
  }
}

@media screen and (max-width: 420px) {
  .auth-header {
    padding: 56px 0 80px 0;
    align-items: center;
    gap: 50px;
  }
}