.register {
  max-width: 396px;
  margin: 0 auto;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 69px;
}

.register__inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
