.register {
  max-width: 396px;
  margin: 0 auto;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 69px;
}

.register__inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 500px) {
  .register {
    padding: 0 30px;
  }
  .register__form {
    gap: 157px;
  }
}
