.portfolio {
  padding: 50px 70px 127px 70px;
}

.portfolio__title {
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
}

.portfolio__listElement {
  list-style: none;
}

.portfolio__listElement:first-child {
  margin-top: 50px;
}

.portfolio__listLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: -1.2px;
  line-height: 50px;
}

.portfolio__linkIcon {
  width: 29px;
  height: 50px;
  background: url("../../../../shared/assets/images/icons/link-min.svg") no-repeat center;
}

.portfolio__stroke {
  margin: 19px 0 18px 0;
  border: solid 1px #424242;
}

@media screen and (max-width: 928px) {
  .portfolio {
    padding: 45px 50px 90px 50px;
  }

  .portfolio__listLink {
    font-size: 28px;
    letter-spacing: -1.15px;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__title {
    font-size: 14px;
  }

  .portfolio__listElement:first-child {
    margin-top: 40px;
  }

  .portfolio__listLink {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -.8px;
  }

  .portfolio__linkIcon {
    height: 28px;
    width: 18px;
    background-size: 65%;
  }
}

@media screen and (max-width: 480px) {
  .portfolio {
    padding: 35px 14px 70px 14px;
  }
}
